:root{
    --cinza-titulo: rgb(59, 59, 59);
    --azul-site: rgb(123, 143, 255);
    --azul-fundo: rgba(92, 178, 235, 0.575);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    color: var(--cinza-titulo);
    background-color:var(--azul-fundo);
}

header {
    padding: 2rem;
    background-color: var(--azul-site);
    color: beige;
    font-weight: 600;
    text-align: center;

}

/*não consegui alinhar o <h1> com os <a> dentro do <nav>*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    padding: 5px;
}

.logo{
    display: flex;
    align-items: center; /*Alinha os itens*/
}

.img-logo{
    width: 50px;
    height: 50px;
}

.nav-login{
    display: flex;
    text-align: center;
    padding: 10px;
    align-items: center;
    font-size: 17px;
}

a {
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none; /*Tira o sublinhado do texto*/
    color: white;
}
/*todos os elementos da navbar*/

.frase {
    padding: 2rem;
    background-color: var(--azul-site);
    margin: 1rem;
    border-radius: 10px;
    color: var(--cinza-titulo);
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 25;
    margin-inline: 20px;
    margin-top: 2rem;
}

.remedios{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
}

li {
    border-radius: 10px;
    background-color: beige;
    color: rgb(29, 92, 175);
    text-align: center;
    list-style-type: none; /*Remove os pontos da lista*/
}

.preco{
    color: rgb(0, 7, 99);
}

img {
    width: 200;
    height: 200;
}

button{
    background-color: orange;
    border-radius: 5px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 1rem;
    border-color: var(--cinza-titulo);
    border-width: 0px;
    font-size: 15px;
    color: white;
    cursor: pointer; /*Muda o cursor para "click"*/
    transition: filter 0.3s ease; /*velocidade que escurece o botao*/
}

button:hover{ /*escurece o botao*/
    filter: brightness(85%);
}

footer {
    background-color: var(--azul-site);
    padding: 1rem;
    text-align: center;
    color: black;
    font-size: small;
}

/*No máximo 768px*/
@media only screen and (max-width: 768px){
    .remedios{
        display: flex;
        gap: 2rem; /* espaçamento entre os remédios */
        align-items: center;
        justify-content: center;
    }
}

/*
celular e tablet: 768px
pc: >768px
*/