:root{
    --cinza-titulo: rgb(59, 59, 59);
    --azul-site: rgb(123, 143, 255);
    --azul-fundo: rgba(92, 178, 235, 0.575);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    color: var(--cinza-titulo);
    background-color:var(--azul-fundo);
}

header {
    padding: 2rem;
    background-color: var(--azul-site);
    color: beige;
    font-weight: 600;
    text-align: center;

}

/*não consegui alinhar o <h1> com os <a> dentro do <nav>*/
nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

h1{
    padding: 5px;
}

.nav-login{
    display: flex;
    text-align: center;
    padding: 10px;
}

a {
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}
/*todos os elementos da navbar*/

.frase {
    padding: 2rem;
    background-color: var(--azul-site);
    margin: 1rem;
    border-radius: 10px;
    color: var(--cinza-titulo);
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 25;
    margin: 3%;
}

.remd-anal{
    display: flex;
    padding: 1rem;
    gap: 2rem;
}

li {
    border-radius: 5px;
    border-color: black;
    background-color: beige;
    text-align: center;
    list-style-type: none; /*Remove os pontos da lista*/
}

img {
    width: 200;
    height: 200;
}

button{
    background-color: orange;
    border-radius: 5px;
    padding: 3px;
    border-color: var(--cinza-titulo);
    border-width: 1px;
}

footer {
    background-color: var(--azul-site);
    padding: 1rem;
    text-align: center;
    color: black;
}